@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*estrella vacia <i class="far fa-star"></i>
  estrella a la mitad llena <i class="fas fa-star-half"></i> */

//GLOBALES
body {
  overflow-x: hidden;
}
.menu-oculto {
  display: none;
}
.oculto {
  display: none;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
  max-width: 1800px;
}

//fuentes y colores
:root {
  --fuente-principal: "Nunito Sans", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --color-principal: #ff4e4e;
  --color-texto-principal: #333333;
  --color-texto-secundario: #666666;
}

//tamaños de fuentes

//botones
.btn-principal {
  padding: 12px 17px;
  font-family: var(--fuente-secundaria);
  background-color: var(--color-principal);
  border: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(0.75rem, 1.2vw, 1.4rem);
}

//mixins

@mixin flexbox($row, $justify, $align) {
  display: flex;
  flex-direction: $row;
  justify-content: $justify;
  align-items: $align;
}

//navegacion-principal

.nav-principal {
  width: 100%;
  height: 100px;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
}

.superior {
  height: 40px;
  @include flexbox(row, flex-end, center);
}
.idioma {
  width: 80px;
  height: 100%;
  @include flexbox(row, center, center);
  margin: 0 15px;
}
.login {
  font-family: var(--fuente-principal);
  width: 200px;
  height: 100%;
  @include flexbox(row, space-evenly, center);
}

.nav-inferior {
  height: 60px;
  @include flexbox(row, space-between, center);
}
.logo {
  width: 160px;
  height: 100%;
  @include flexbox(row, center, center);
}
.menu-oculto {
  width: calc(100% - 245px);
  height: 100%;
  margin: auto;
  max-width: 650px;
}
.contenedor-link {
  width: 100%;
  height: 100%;
  @include flexbox(row, space-evenly, center);
  list-style-type: none;
}
.links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  color: var(--color-texto-principal);
}
.links {
  position: relative;
  overflow: hidden;
}
a:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background: black;
  left: -100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.current:after {
  left: 0;
}
.links:hover a:after {
  left: 0px;
}
.menu-hamburguesa {
  width: 50px;
  height: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.punto-menu {
  flex-basis: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1px;
  display: block;
}
.buscar {
  width: 50px;
  height: 100%;
  font-size: 1.3rem;
  @include flexbox(row, center, center);
}

.favorito,
.cart {
  width: 50px;
  height: 100%;
  font-size: 1.3rem;
  display: none;
}

@media (min-width: 450px) {
  .buscar,
  .favorito,
  .cart {
    @include flexbox(row, center, center);
  }

  .logo {
    margin: 0 auto;
  }
}
@media (min-width: 850px) {
  .logo {
    margin-right: 0;
  }
  .menu-hamburguesa {
    display: none;
  }
  .menu-oculto {
    display: flex;
  }
}

//SECCION HEADER
.contenedor-header {
  width: 100%;
  height: 100%;
  @include flexbox(row, flex-start, center);
}

.contenedor-texto {
  width: 80%;
  height: 80%;
  margin-left: 5%;
  max-width: 450px;
}
.mini-texto {
  font-family: var(--fuente-principal);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--color-texto-secundario);
  padding: 15px 0;
  font-size: clamp(0.8rem, 1.8vw, 1.6rem);
}
.titulos-principales {
  font-family: var(--fuente-principal);
  font-weight: 900;
  font-size: clamp(2.6rem, 5vw, 6rem);
  text-transform: capitalize;
  color: var(--color-texto-principal);
  margin-bottom: 15px;
}

//SWIPER PRINCIPAL / HEADER
.swiper-container {
  width: 100%;
  height: 400px;
  min-height: 35vw;
}
.contenedor-header:nth-child(1) {
  background: url("../images/images-slider/slider02.jpg");
  background-position: center;
  background-size: cover;
}
.contenedor-header:nth-child(2) {
  background: url("../images/images-slider/slider03.jpg");
  background-position: center;
  background-size: cover;
}

.contenedor-header:nth-child(3) {
  background: url("../images/images-slider/h2-new-slider3.jpg");
  background-position: center;
  background-size: cover;
}
.btn-header-next,
.btn-header-next:after,
.btn-header-prev:after,
.btn-header-prev {
  color: black;
  font-size: 1.5rem;
  top: 0;
  margin-top: 0;
}

.swiper-pagination-bullet {
  background: black;
}
.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

//MEDIA QUERYS HEADER & SWIPER
@media (min-width: 768px) {
  .contenedor-texto {
    margin-left: 120px;
    max-width: 700px;
  }
  .btn-header-next,
  .btn-header-next:after,
  .btn-header-prev:after,
  .btn-header-prev {
    top: calc(50% - 50px);
    font-size: 2rem;
  }
}

//SECCION COMPRAS MUJERES-HOMBRES
.compras {
  width: 100%;
  margin: 100px 0;
  position: relative;
}
.hero-movil {
  width: 100%;
  height: 450px;
  max-width: 450px;
  margin: 0 auto;
}
.titulos-secundarios {
  width: 150px;
  background: white;
  @include flexbox(row, center, center);
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  margin-left: 15px;
  margin-top: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-style: italic;
}

.linea-separadora {
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 15px;
  background: rgb(199, 199, 199);
}
.contenido-mujer-hombre {
  width: 100%;
  margin-top: 50px;
  @include flexbox(row, space-between, flex-start);
  position: relative;
  padding: 0 1%;
}

//seccion hombre exclusivo
.contenido-hombre {
  flex-direction: row-reverse;
}
.hero-compras {
  width: 30%;
  height: 650px;
  display: none;
  background: url("../images/NuevaC/side-view-photography-of-a-woman-wearing-fedora-1070058-removebg-preview.jpg");
  background: rgb(255, 255, 255);
  background-position: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
  background-size: cover;
  background-repeat: no-repeat;
}

.ver-mas {
  width: 100%;
  height: 40px;
  position: relative;
  @include flexbox(row, center, center);
  margin-top: 20px;
}
.ver-mas:after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(221, 221, 221);
  position: absolute;
  z-index: -1;
}

.boton-ver-mas {
  margin-left: auto;
  margin-right: 85px;
  font-family: var(--fuente-principal);
  background: white;
  padding: 0 15px;
  color: var(--color-texto-principal);
  font-weight: normal;
}
.ver-mas-hombre {
  margin-right: auto !important;
  margin-left: 85px;
}

//MEDIA QUERYS SECCION COMPRAS MUJERES-HOMBRES
@media (min-width: 850px) {
  .hero-compras {
    display: block;
    width: 39%;
    height: 735px;
  }
  //seccion hombre exclusivo
  .titulo-hombre {
    margin-left: auto;
    margin-right: 10px;
  }
}

//SWIPER COMPRAS MUJERES-HOMBRES
.contenedor-slider {
  @include flexbox(row, space-between, center);
  flex-wrap: wrap;
  width: 100%;
  height: 750px;
  overflow-x: hidden;
}
.columna-slider {
  height: 100%;
  @include flexbox(column, space-evenly, center);
}
.item-slider-compras {
  width: 95%;
  max-width: 200px;
  min-height: 270px;
  height: 75vw;
  max-height: 320px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.027);
  position: relative;
}

.img-item-compra {
  width: 100%;
  height: 70%;
  background: #f5f5f5;
  position: relative;
  z-index: -2;
}

.botones-item-compra {
  width: 50px;
  height: 75%;
  position: absolute;
  top: 0;
  right: 0;
  @include flexbox(column, space-between, center);
  padding: 5px 0;
}

.btn-compra {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  @include flexbox(row, center, center);
  color: white;
  font-size: 1rem;
}
.fav {
  border-radius: 0;
  color: rgb(66, 66, 66);
  background: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
.ver-detalle {
  background: black;
}

.comprar {
  border: 2px solid #ff4e4e;
  color: black;
  font-size: 0.6rem;
  color: black;
  background: white;
}

.fav:after {
  content: "añadir";
  @include flexbox(row, flex-start, center);
  padding: 0 15px;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  background: white;
  width: 120px;
  overflow: hidden;
  z-index: -1;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}
.fav:hover .fav:after {
  width: 120px;
}

.descripcion-productos {
  width: 100%;
  height: 30%;
  @include flexbox(column, center, center);
  padding: 0 5px;
}
.nombre-producto {
  width: 100%;
  height: 40%;
  font-family: var(--fuente-principal);
  color: var(--color-texto-principal);
  font-size: 1.1rem;
  @include flexbox(column, center, flex-start);
  font-weight: lighter;
}
.precio-producto {
  width: 100%;
  height: 40%;
  font-family: var(--fuente-principal);
  color: var(--color-texto-principal);
  font-size: 1rem;
  @include flexbox(column, center, flex-start);
  font-weight: bolder;
}

.btn-mujer-hombre-izq,
.btn-mujer-hombre-der {
  right: 60px;
  margin-left: auto;
  margin-top: 0;
  color: black;
  top: -90px;
}
.btn-mujer-hombre-izq:after,
.btn-mujer-hombre-der::after {
  font-size: 1.3rem;
}
.btn-mujer-hombre-der {
  right: 20px;
}

//MEDIA QUERYS SWIPER COMPRAS MUJERES-HOMBRES
@media (min-width: 850px) {
  .contenedor-slider {
    width: 59%;
  }
  .hero-movil {
    display: none;
  }
  .btn-hombre-izq,
  .btn-hombre-der {
    right: 0;
    left: 25px;
    color: black;
    margin-left: 0;
    margin-right: auto;
  }
  .btn-hombre-izq:after,
  .btn-hombre-der::after {
    font-size: 1.3rem;
  }
  .btn-hombre-der {
    right: 0;
    left: 65px;
  }
}

//INICIO SECCION BREAK
.break {
  width: 100%;
  @include flexbox(row, center, center);
  flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
}
.descuentos {
  flex-basis: 100%;
  height: 30vw; //para que crezca siempre a un tamaño proporcional al ancho de la pantalla
  max-height: 220px;
  min-height: 100px;
  position: relative;
  @include flexbox(row, center, center);
  background: rgb(255, 219, 219);
  margin: 15px;
}
.texto-descuento {
  width: 60%;
  height: 70%;
  @include flexbox(column, center, center);
}
.texto-descuento .mini-texto {
  width: 100%;
  height: 50%;
  @include flexbox(row, flex-start, center);
  letter-spacing: 0px;
  padding: 0 0 5px 10px;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  text-transform: capitalize;
} //heredar las propiedades del mini texto del header y cambiarle las necesarias para adaptarla al texto descuento

.titulos-descuentos {
  width: 100%;
  height: 50%;
  @include flexbox(row, flex-start, flex-start);
  font-family: var(--fuente-principal);
  padding-left: 10px;
  font-size: clamp(1.3rem, 6.2vw, 3rem);
  color: var(--color-texto-principal);
}

.imagen-descuento {
  width: 25%;
  height: 90%;
  z-index: 5;
}

.descuentos:nth-child(2):after {
  content: "";
  width: 90%;
  height: 70%;
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
}
.descuentos:nth-child(1) {
  background: rgb(245, 245, 245);
  .mini-texto {
    letter-spacing: 0px;
    padding: 0 0 0 12px;
    align-items: flex-start;

    font-size: clamp(0.8rem, 2.3vw, 1.5rem);
    //para que la tipografia tambien crezca siempre a un tamaño proporcional al ancho de la pantalla
  }
  .titulos-descuentos {
    align-items: flex-end;
    padding-left: 10px;
  }
} //ESTAS PROPIEDADES VAN AL FINAL PARA PODER REEMPLAZAR LAS PROPIEDADES ANTERIORES

//INICIO MEDIA QUERYS SECCION BREAK
@media (min-width: 950px) {
  .descuentos {
    flex-basis: 45%;
    height: 18vw;
  }
  .titulos-descuentos {
    font-size: clamp(1.3rem, 4vw, 3rem);
  }
  .texto-descuento .mini-texto {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    height: 40%;
  }
  .descuentos:nth-child(1) {
    .mini-texto,
    .titulos-descuentos {
      padding-left: 0;
    }
    .mini-texto {
      font-size: clamp(0.8rem, 1.7vw, 1.5rem);
    }
  }
}

//INICIO SECCION CATEGORIAS
.contenedor-categorias {
  margin-bottom: 50px;
  .titulos-secundarios {
    font-size: 1.1rem;
    width: 180px;
    letter-spacing: 0;
    margin-left: 10px;
    justify-content: flex-start;
  }
  .columna-slider {
    width: 100%;
  }
  .item-slider {
    width: 95%;
    height: 40vw;
    max-height: 200px;
    margin: 15px auto 0 10px;
    padding: 0;
    max-width: 500px;
    box-shadow: none;
    @include flexbox(row, center, center);
  }
  .swiper-button-next,
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-button-prev {
    color: black;
    font-size: 1.1rem;
    top: 35px;
    margin-top: 0;
    right: 35px;
    margin-left: auto;
  }
  .swiper-button-prev {
    right: 70px;
  }
} //PARA REEMPLAZAR ALGUNAS PROPIEDADES DEL SWIPER ANTERIOR Y ADAPTARLO AL NUEVO

.mas-vendidos,
.mejores-reseñas,
.nuevos-productos {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-productos-categorias {
  width: 30%;
  height: 100%;
  background: rgb(219, 219, 219);
}
.descripcion-productos-categorias {
  width: 66%;
  margin-left: auto;
  height: 100%;
  padding-top: 0px;
}
.nombre-producto-categorias {
  width: 100%;
  height: 28%;
  font-family: var(--fuente-principal);
  font-weight: 100;
  font-size: 1.1rem;
  @include flexbox(row, flex-start, center);
}
.calificacion-producto-categorias {
  width: 100%;
  height: 28%;
  color: #ff9c00;
  font-size: 0.8rem;
  @include flexbox(row, flex-start, center);
}
.precio-producto-categorias {
  width: 100%;
  height: 28%;
  font-family: var(--fuente-principal);
  font-weight: 100;
  font-size: 1rem;
  @include flexbox(row, flex-start, center);
}

@media (min-width: 850px) {
  .contenedor-categorias {
    display: flex;
    .item-slider {
      height: 12vw;
      margin-bottom: 30px;
    }
  }

  .nuevos-productos,
  .mejores-reseñas,
  .mas-vendidos {
    width: 33.33333333%;
  }
}

//INICIO SECCION FOOTER
.footer-principal {
  padding-top: 30px;
  background: rgb(241, 241, 241);
  .titulos-secundarios {
    margin: 0;
    width: 100%;
    background: none;
    justify-content: flex-start;
    font-size: 1.3rem;
    height: 40px;
  }
}
.logo-redes {
  @include flexbox(column, center, center);
  margin-bottom: 30px;
}

.logo-footer {
  width: 300px;
  height: 80px;
  @include flexbox(row, flex-start, center);
  margin-right: auto;
}
.img-logo {
  width: 180px;
  height: 60px;
  @include flexbox(column, center, center);
}
.redes {
  width: 100%;
  height: 80px;
  @include flexbox(row, flex-start, center);
  i {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(196, 196, 196);
    margin: 10px;
    border-radius: 50%;
    @include flexbox(row, center, center);
    color: var(--color-texto-secundario);
  }
  i:nth-child(1) {
    margin-left: 0;
  }
}

.newsletter {
  width: 100%;
  height: 100px;
  max-width: 500px;
  @include flexbox(row, flex-start, flex-start);
  flex-wrap: wrap;
  margin-bottom: 30px;
  .titulos-secundarios {
    margin-bottom: -20px;
  } //para acercar mas el titulo a la seccion correspondiente

  .correo-newsletter {
    width: 58%;
    height: 35px;
    border: 1px solid rgb(209, 209, 209);
    margin-right: 5px;
  }
  .btn-principal {
    width: 40%;
    font-size: 0.7rem;
    font-weight: bolder;
    height: 35px;
    padding: 4px 8px;
  }
}
.contacto {
  .titulos-secundarios {
    margin-bottom: -20px;
  }
  margin-bottom: 30px;
  ul {
    width: 100%;
    height: 200px;
    @include flexbox(column, space-evenly, left);
    list-style: none;
  }
  li {
    width: 100%;
    font-family: var(--fuente-principal);
    font-size: 0.9rem;
  }
}

.horarios {
  width: 100%;
  margin-bottom: 90px;
  max-width: 500px;
  ul {
    width: 100%;
    height: 100px;
    list-style: none;
  }
  li {
    width: 100%;
    @include flexbox(row, space-between, left);
    height: 40px;
  }
  li:nth-child(2) {
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 1px solid rgb(226, 226, 226);
  }
  span {
    @include flexbox(row, center, center);
    text-transform: capitalize;
    font-family: var(--fuente-principal);
  }
}
.copy {
  width: 100%;
  background: white;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  font-size: 0.9rem;
  .contenedor {
    @include flexbox(row, center, center);
    height: 50px;
  }
}

//MEDIA QUERYS FOOTER

@media (min-width: 850px) {
  .footer-principal {
    .contenedor {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .logo-redes {
      width: 50%;
      flex-direction: row;
      .logo-footer {
        width: 250px;
        margin-right: 70px;
      }
    }
    .newsletter {
      width: 50%;
    }
    .contacto {
      width: 50%;
    }
    .horarios {
      width: 50%;
    }
  }
}
