@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*estrella vacia <i class="far fa-star"></i>
  estrella a la mitad llena <i class="fas fa-star-half"></i> */
body {
  overflow-x: hidden;
}

.menu-oculto {
  display: none;
  position: relative;
  z-index: 99;
}

.oculto {
  display: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
  max-width: 1800px;
}

:root {
  --fuente-principal: "Nunito Sans", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --color-principal: #ff4e4e;
  --color-texto-principal: #333333;
  --color-texto-secundario: #666666;
}

.btn-principal {
  padding: 12px 17px;
  font-family: var(--fuente-secundaria);
  background-color: var(--color-principal);
  border: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(0.75rem, 1.2vw, 1.4rem);
}

.nav-principal {
  width: 100%;
  height: 100px;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
}

.superior {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.idioma {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.login {
  font-family: var(--fuente-principal);
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-inferior {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 160px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-oculto {
  width: calc(100% - 245px);
  height: 100%;
  margin: auto;
  max-width: 650px;
  background: white;
  position: relative;
}

.contenedor-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  color: var(--color-texto-principal);
}

.links {
  position: relative;
  overflow: hidden;
}

a:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background: black;
  left: -100%;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.current:after {
  left: 0;
}

.links:hover a:after {
  left: 0px;
}

.menu-hamburguesa {
  width: 50px;
  height: 100%;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.punto-menu {
  -ms-flex-preferred-size: 6px;
      flex-basis: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1px;
  display: block;
}

.buscar {
  width: 50px;
  height: 100%;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorito,
.cart {
  width: 50px;
  height: 100%;
  font-size: 1.3rem;
  display: none;
}

@media (min-width: 450px) {
  .buscar,
  .favorito,
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    margin: 0 auto;
  }
}

@media (min-width: 850px) {
  .logo {
    margin: 0;
  }
  .menu-hamburguesa {
    display: none;
  }
  .menu-oculto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
  }
}

.menu-desplegable {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  left: -100%;
  top: 0;
  background: white;
  z-index: 9;
  max-width: 500px;
}

@media (min-width: 850px) {
  .menu-desplegable {
    display: none;
  }
}

.btn-cerrar-contenedor {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}

.btn-cerrar {
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.linea-cerrar {
  height: 2px;
  width: 35px;
  background: var(--color-principal);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

.linea-cerrar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.barra-superior {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-global,
.menu-categorias {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-principal);
  color: black;
}

.contenido-categorias-menu-desplegable {
  width: 100%;
  height: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoria-menu-desplegable {
  width: 90%;
  height: 80px;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

.nombre-categoria {
  font-size: 1.3rem;
  font-family: var(--fuente-principal);
  font-style: italic;
  font-weight: bolder;
  color: white;
}

.contenedor-header {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-texto {
  width: 80%;
  height: 80%;
  margin-left: 5%;
  max-width: 450px;
  padding-top: 15px;
}

.mini-texto {
  font-family: var(--fuente-principal);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--color-texto-secundario);
  padding: 15px 0;
  font-size: clamp(0.8rem, 1.8vw, 1.6rem);
}

.titulos-principales {
  font-family: var(--fuente-principal);
  font-weight: 900;
  font-size: clamp(2.6rem, 5vw, 6rem);
  text-transform: capitalize;
  color: var(--color-texto-principal);
  margin-bottom: 15px;
}

.swiper-container {
  width: 100%;
  height: 400px;
  min-height: 45vw;
}

.contenedor-header:nth-child(1) {
  background: url("../images/images-slider/slider02.jpg");
  background-position: center;
  background-size: cover;
}

.contenedor-header:nth-child(2) {
  background: url("../images/images-slider/slider03.jpg");
  background-position: center;
  background-size: cover;
}

.contenedor-header:nth-child(3) {
  background: url("../images/images-slider/h2-new-slider3.jpg");
  background-position: center;
  background-size: cover;
}

.btn-header-next,
.btn-header-next:after,
.btn-header-prev:after,
.btn-header-prev {
  color: black;
  font-size: 1.5rem;
  top: 0;
  margin-top: 0;
}

.swiper-pagination-bullet {
  background: black;
}

.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .contenedor-texto {
    margin-left: 120px;
    max-width: 700px;
  }
  .btn-header-next,
  .btn-header-next:after,
  .btn-header-prev:after,
  .btn-header-prev {
    top: calc(50% - 50px);
    font-size: 2rem;
  }
}

.compras {
  width: 100%;
  margin: 100px 0;
  position: relative;
  max-width: 1800px;
  margin: 100px auto;
}

.hero-movil {
  width: 100%;
  height: 450px;
  max-width: 450px;
  margin: 0 auto;
}

.titulos-secundarios {
  width: 150px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  margin-left: 15px;
  margin-top: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-style: italic;
}

.linea-separadora {
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 15px;
  background: #c7c7c7;
}

.contenido-mujer-hombre {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 0 1%;
}

.contenido-hombre {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hero-compras {
  width: 30%;
  height: 650px;
  display: none;
  background: url("../images/NuevaC/side-view-photography-of-a-woman-wearing-fedora-1070058-removebg-preview.jpg");
  background: white;
  background-position: center;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
  background-size: cover;
  background-repeat: no-repeat;
}

.ver-mas {
  width: 100%;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.ver-mas:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #dddddd;
  position: absolute;
  z-index: -1;
}

.boton-ver-mas {
  margin-left: auto;
  margin-right: 85px;
  font-family: var(--fuente-principal);
  background: white;
  padding: 0 15px;
  color: var(--color-texto-principal);
  font-weight: normal;
}

.ver-mas-hombre {
  margin-right: auto !important;
  margin-left: 85px;
}

@media (min-width: 850px) {
  .hero-compras {
    display: block;
    width: 39%;
    height: 735px;
  }
  .titulo-hombre {
    margin-left: auto;
    margin-right: 10px;
  }
}

.contenedor-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 750px;
  overflow-x: hidden;
}

.columna-slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-slider-compras {
  width: 95%;
  max-width: 200px;
  min-height: 270px;
  height: 75vw;
  max-height: 320px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.027);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.027);
  position: relative;
}

.img-item-compra {
  width: 100%;
  height: 70%;
  background: #f5f5f5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-item-compra:after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.199);
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-item-compra:before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  background: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  cursor: pointer;
}

.item-slider-compras:hover .img-item-compra:after {
  opacity: 1;
}

.item-slider-compras:hover .img-item-compra:before {
  opacity: 1;
}

.botones-item-compra {
  width: 50px;
  height: 75%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.btn-compra {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1rem;
}

.fav {
  border-radius: 0;
  color: #424242;
  background: white;
  position: relative;
  overflow: hidden;
}

.ver-detalle {
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.comprar {
  border: 2px solid #ff4e4e;
  color: black;
  font-size: 0.6rem;
  color: black;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.fav:after {
  content: "añadir";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  background: white;
  width: 120px;
  overflow: hidden;
  z-index: -1;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}

.fav:hover .fav:after {
  width: 120px;
}

.descripcion-productos {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.nombre-producto {
  width: 100%;
  height: 40%;
  font-family: var(--fuente-principal);
  color: var(--color-texto-principal);
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: lighter;
}

.precio-producto {
  width: 100%;
  height: 40%;
  font-family: var(--fuente-principal);
  color: var(--color-texto-principal);
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bolder;
}

.btn-mujer-hombre-izq,
.btn-mujer-hombre-der {
  right: 60px;
  margin-left: auto;
  margin-top: 0;
  color: black;
  top: -90px;
}

.btn-mujer-hombre-izq:after,
.btn-mujer-hombre-der::after {
  font-size: 1.3rem;
}

.btn-mujer-hombre-der {
  right: 20px;
}

@media (min-width: 500px) {
  .ver-detalle,
  .comprar {
    margin: 0;
  }
}

@media (min-width: 850px) {
  .contenedor-slider {
    width: 59%;
  }
  .hero-movil {
    display: none;
  }
  .btn-hombre-izq,
  .btn-hombre-der {
    right: 0;
    left: 25px;
    color: black;
    margin-left: 0;
    margin-right: auto;
  }
  .btn-hombre-izq:after,
  .btn-hombre-der::after {
    font-size: 1.3rem;
  }
  .btn-hombre-der {
    right: 0;
    left: 65px;
  }
}

.break {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
}

.descuentos {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 30vw;
  max-height: 220px;
  min-height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffdbdb;
  margin: 15px;
}

.texto-descuento {
  width: 60%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto-descuento .mini-texto {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0px;
  padding: 0 0 5px 10px;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  text-transform: capitalize;
}

.titulos-descuentos {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--fuente-principal);
  padding-left: 10px;
  font-size: clamp(1.3rem, 6.2vw, 3rem);
  color: var(--color-texto-principal);
}

.imagen-descuento {
  width: 25%;
  height: 90%;
  z-index: 5;
}

.descuentos:nth-child(2):after {
  content: "";
  width: 90%;
  height: 70%;
  border: 1px solid white;
  position: absolute;
}

.descuentos:nth-child(1) {
  background: whitesmoke;
}

.descuentos:nth-child(1) .mini-texto {
  letter-spacing: 0px;
  padding: 0 0 0 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: clamp(0.8rem, 2.3vw, 1.5rem);
}

.descuentos:nth-child(1) .titulos-descuentos {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 10px;
}

@media (min-width: 950px) {
  .descuentos {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 18vw;
  }
  .titulos-descuentos {
    font-size: clamp(1.3rem, 4vw, 3rem);
  }
  .texto-descuento .mini-texto {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    height: 40%;
  }
  .descuentos:nth-child(1) .mini-texto,
  .descuentos:nth-child(1) .titulos-descuentos {
    padding-left: 0;
  }
  .descuentos:nth-child(1) .mini-texto {
    font-size: clamp(0.8rem, 1.7vw, 1.5rem);
  }
}

.contenedor-categorias {
  margin-bottom: 50px;
  max-width: 1800px;
  margin: 0 auto 50px;
}

.contenedor-categorias .titulos-secundarios {
  font-size: 1.1rem;
  width: 180px;
  letter-spacing: 0;
  margin-left: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contenedor-categorias .columna-slider {
  width: 100%;
}

.contenedor-categorias .item-slider {
  width: 95%;
  height: 40vw;
  max-height: 200px;
  margin: 15px auto 0 10px;
  padding: 0;
  max-width: 500px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-categorias .swiper-button-next,
.contenedor-categorias .swiper-button-next:after,
.contenedor-categorias .swiper-button-prev:after,
.contenedor-categorias .swiper-button-prev {
  color: black;
  font-size: 1.1rem;
  top: 35px;
  margin-top: 0;
  right: 35px;
  margin-left: auto;
}

.contenedor-categorias .swiper-button-prev {
  right: 70px;
}

.mas-vendidos,
.mejores-reseñas,
.nuevos-productos {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-productos-categorias {
  width: 30%;
  height: 100%;
  background: #dbdbdb;
}

.descripcion-productos-categorias {
  width: 66%;
  margin-left: auto;
  height: 100%;
  padding-top: 0px;
}

.nombre-producto-categorias {
  width: 100%;
  height: 28%;
  font-family: var(--fuente-principal);
  font-weight: 100;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calificacion-producto-categorias {
  width: 100%;
  height: 28%;
  color: #ff9c00;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.precio-producto-categorias {
  width: 100%;
  height: 28%;
  font-family: var(--fuente-principal);
  font-weight: 100;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 850px) {
  .contenedor-categorias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedor-categorias .item-slider {
    height: 12vw;
    margin-bottom: 30px;
  }
  .nuevos-productos,
  .mejores-reseñas,
  .mas-vendidos {
    width: 33.33333333%;
  }
}

.footer-principal {
  padding-top: 30px;
  background: #f1f1f1;
}

.footer-principal .titulos-secundarios {
  margin: 0;
  width: 100%;
  background: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.3rem;
  height: 40px;
}

.logo-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.logo-footer {
  width: 300px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.img-logo {
  width: 180px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes i {
  width: 32px;
  height: 32px;
  border: 1px solid #c4c4c4;
  margin: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-texto-secundario);
}

.redes i:nth-child(1) {
  margin-left: 0;
}

.newsletter {
  width: 100%;
  height: 100px;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.newsletter .titulos-secundarios {
  margin-bottom: -20px;
}

.newsletter .correo-newsletter {
  width: 58%;
  height: 35px;
  border: 1px solid #d1d1d1;
  margin-right: 5px;
}

.newsletter .btn-principal {
  width: 40%;
  font-size: 0.7rem;
  font-weight: bolder;
  height: 35px;
  padding: 4px 8px;
}

.contacto {
  margin-bottom: 30px;
}

.contacto .titulos-secundarios {
  margin-bottom: -20px;
}

.contacto ul {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  list-style: none;
}

.contacto li {
  width: 100%;
  font-family: var(--fuente-principal);
  font-size: 0.9rem;
}

.horarios {
  width: 100%;
  margin-bottom: 90px;
  max-width: 500px;
}

.horarios ul {
  width: 100%;
  height: 100px;
  list-style: none;
}

.horarios li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 40px;
}

.horarios li:nth-child(2) {
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}

.horarios span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-family: var(--fuente-principal);
}

.copy {
  width: 100%;
  background: white;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  font-size: 0.9rem;
}

.copy .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

@media (min-width: 850px) {
  .footer-principal .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .footer-principal .logo-redes {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-principal .logo-redes .logo-footer {
    width: 250px;
    margin-right: 70px;
  }
  .footer-principal .newsletter {
    width: 50%;
  }
  .footer-principal .contacto {
    width: 50%;
  }
  .footer-principal .horarios {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */