* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*estrella vacia <i class="far fa-star"></i>
  estrella a la mitad llena <i class="fas fa-star-half"></i> */

//ORDEN DE LAS PROPIEDADES

/*
   Layout: (position, float, index)
   Display/box-model: (width, display, margin, padding)
   Visual: (color, background, shadow)
   Tipografia: (font-family, font-size, text-align)
   Otros: (transition, cursor)
*/

//GLOBALES
html {
  min-width: 320px;
  overflow-x: hidden;
}
body {
  position: relative;
  overflow-x: hidden;
}
.menu-oculto {
  position: relative;
  display: none;
  z-index: 99;
}
.oculto {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
}

//fuentes y colores
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
:root {
  --fuente-principal: "Nunito Sans", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --color-principal: #ff4e4e;
  --color-texto-principal: #333333;
  --color-texto-secundario: #666666;
}

//tamaños de fuentes

//botones
.btn-principal {
  padding: 12px 17px;
  border: none;
  background-color: var(--color-principal);
  color: white;
  font-family: var(--fuente-secundaria);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(0.75rem, 1.2vw, 1.4rem);
  cursor: pointer;
}

//mixins

@mixin flexbox($row, $justify, $align) {
  display: flex;
  flex-direction: $row;
  justify-content: $justify;
  align-items: $align;
}

//navegacion-principal
.nav-principal {
  width: 100%;
  height: 100px;
  font-family: var(--fuente-principal);
  text-transform: capitalize;

  .superior {
    height: 40px;
    @include flexbox(row, flex-end, center);
  }

  .idioma,
  .login,
  .logo,
  .contenedor-link,
  .links,
  .menu-hamburguesa,
  .cart {
    height: 100%;
    @include flexbox(row, center, center);
  }

  .idioma {
    width: 80px;
    margin: 0 15px;
  }

  .login {
    width: 200px;
    font-family: var(--fuente-principal);
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .login:hover {
    color: var(--color-principal);
  }

  .nav-inferior {
    height: 60px;
    @include flexbox(row, space-between, center);
  }

  .logo {
    width: 160px;
  }

  .menu-oculto {
    position: relative;
    width: calc(100% - 245px);
    max-width: 650px;
    height: 100%;
    margin: auto;
    background: white;
  }

  .contenedor-link {
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
  }

  .links {
    position: relative;
    padding-top: 20px;
  }

  .links a {
    position: relative;
    color: var(--color-texto-principal);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .links a:hover {
    color: var(--color-principal);
  }

  .menu-hamburguesa {
    width: 50px;
    flex-wrap: wrap;
    padding: 15px 10px;
  }

  .punto-menu {
    display: block;
    height: 6px;
    flex-basis: 6px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 50%;
  }
  .cart,
  .favorito,
  .buscar {
    width: 50px;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .favorito,
  .buscar {
    display: none;
  }
  .cart:hover,
  .buscar:hover,
  .favorito:hover {
    color: var(--color-principal);
  }
}

@media (min-width: 768px) {
  .nav-principal {
    .buscar,
    .favorito,
    .cart {
      @include flexbox(row, center, center);
    }

    .logo {
      margin: 0;
    }
    .menu-hamburguesa {
      display: none;
    }
    .menu-oculto {
      z-index: 2;
      display: flex;
    }
  }
}

//DROPDOWN LINKS NAV PRINCIPAL
.dropdown {
  position: absolute;
  top: 40px;
  left: -10px;
  width: 100px;
  height: 200px;
  @include flexbox(row, center, center);
  overflow: hidden;
  background: white;
  display: none;
  opacity: 0;
  ul {
    width: 100%;
    height: 100%;
    @include flexbox(column, space-evenly, center);
    list-style: none;
  }
}

.dropdown-item {
  width: 100%;
  flex: 1;
  @include flexbox(row, center, center);
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dropdown-item:hover {
  background: var(--color-principal);
  color: white;
}

.dropdown-nuevo {
  left: -20px;
}

.dropdown-descuento {
  left: 10px;
}

//INICIO MENU DESPLEGABLE

.menu-desplegable {
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 99999; //PARA QUE NADA SE SOBREPONGA
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: 0;
  background: white;

  .barra-superior,
  .btn-cerrar,
  .menu-global,
  .menu-categorias,
  .contenido-categorias-menu-desplegable,
  .categoria-menu-desplegable {
    @include flexbox(row, center, center);
  }

  .barra-superior {
    width: 100%;
    height: 120px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .btn-cerrar-contenedor {
    width: 100%;
    height: 40px;
  }
  .btn-cerrar {
    position: relative;
    width: 40px;
    height: 40px;
    flex-direction: column;
    margin-left: auto;
  }
  .linea-cerrar {
    position: absolute; //para centrar la cruz
    width: 25px;
    height: 2px;
    transform: rotate(45deg);
    background: var(--color-principal);
  }
  .linea-cerrar:nth-child(2) {
    transform: rotate(-45deg);
  }

  .menu-global,
  .menu-categorias {
    width: 45%;
    height: 40px;
    background: var(--color-principal);
    color: black;
  }

  .contenido-desplazable {
    @include flexbox(row, center, flex-start);
    overflow: hidden;
  }

  .contenido-principal-menu-desplegable {
    width: 100%;
    height: calc(100% - 120px);
    padding-top: 20px;
    position: relative;
    left: 0px;
    .search-movil {
      width: 95%;
      height: 40px;
    }
    .favoritos-movil {
      margin-top: 40px;
    }
    .titulo-favoritos-movil {
      width: 100%;
      @include flexbox(row, center, center);
      font-size: 1.4rem;
      height: 50px;
      background: white;
      border-top: 1px solid rgb(228, 228, 228);
      border-bottom: 1px solid rgb(228, 228, 228);
      position: relative;
      z-index: 2;
      i {
        height: 100%;
        @include flexbox(row, center, center);
        width: 50px;
        overflow: hidden;
        transition: all 0.3s ease-in-out; //PARA LA ANIMACION DE LA FLECHA, CON GSAP SE BUGUEA
      }
    }
    .btn-principal {
      width: 80%;
      margin: 0 10vw;
    }
    .contenido-fav {
      position: relative;
      top: -80px;
      overflow: hidden;
      opacity: 0;
      z-index: 0;
      margin-top: 0;
    }
  }

  .contenido-categorias-menu-desplegable {
    width: 0;
    height: calc(100% - 120px);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    position: relative;
    right: -100%;
  }

  .categoria-menu-desplegable {
    position: relative;
    width: 65%;
    height: 95px;
    margin: 15px auto;
    background: url("/images/imagenes-desplazable-categorias/woman-in-red-long-sleeve-shirt-holding-her-clothes-3794129.webp")
      center / cover no-repeat;
  }
  .categoria-menu-desplegable:nth-child(2) {
    background: url("/images/imagenes-desplazable-categorias/person-wearing-black-leather-strap-round-analog-watch-3432053.webp")
      center / cover no-repeat;
  }
  .categoria-menu-desplegable:nth-child(3) {
    background: url("/images/imagenes-desplazable-categorias/black-framed-eyeglasses-on-white-jacket-and-blue-denim-934070.webp")
      center / cover no-repeat;
  }
  .categoria-menu-desplegable:nth-child(4) {
    background: url("/images/imagenes-desplazable-categorias/clothes-clothing-colors-shirts-581087.webp")
      center / cover no-repeat;
  }
  .categoria-menu-desplegable:nth-child(5) {
    background: url("/images/imagenes-desplazable-categorias/photo-of-discount-sign-2529787.webp")
      center / cover no-repeat;
  }
  .categoria-menu-desplegable:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.473);
  }
  .nombre-categoria {
    color: white;
    font-size: 1.1rem;
    font-family: var(--fuente-principal);
    font-style: italic;
    font-weight: bolder;
    position: relative;
    z-index: 2;
  }
}

//MEDIA QUERYS MENU DESPLEGABLE
@media (min-width: 768px) {
  .menu-desplegable {
    display: none;
  }
}

//SECCION HEADER
.contenedor-header {
  width: 100%;
  height: 100%;
  @include flexbox(row, flex-start, center);
}

.contenedor-texto {
  width: 80%;
  max-width: 450px;
  height: 80%;
  margin-left: 5%;
  padding-top: 15px;
  overflow: hidden;
}
.mini-texto {
  padding: 15px 0;
  color: var(--color-texto-secundario);
  font-family: var(--fuente-principal);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: clamp(0.8rem, 1.8vw, 1.6rem);
  opacity: 0;
}
.titulos-principales {
  margin-bottom: 15px;
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-weight: 900;
  text-transform: capitalize;
  font-size: clamp(2.6rem, 5vw, 6rem);
  position: relative;
  left: -150px;
  opacity: 0;
}
.btn-header {
  position: relative;
  bottom: -100px;
  opacity: 0;
}

//SWIPER PRINCIPAL / HEADER
.swiper-container {
  width: 100%;
  height: 400px;
  min-height: 45vw;
}
.contenedor-header:nth-child(1) {
  background: url("../images/images-slider/slider01-movil.webp") center / cover
    no-repeat;
}
.contenedor-header:nth-child(2) {
  background: url("../images/images-slider/slider02-movil.webp") center / cover
    no-repeat;
}
.contenedor-header:nth-child(3) {
  background: url("../images/images-slider/slider03-movil.webp") center / cover
    no-repeat;
}

.btn-header-next,
.btn-header-next:after,
.btn-header-prev:after,
.btn-header-prev {
  top: 0;
  margin-top: 0;
  color: black;
  font-size: 1.5rem;
}

.swiper-pagination-bullet {
  background: black;
}
.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

//MEDIA QUERYS HEADER & SWIPER
@media (min-width: 768px) {
  .contenedor-header:nth-child(1) {
    background: url("../images/images-slider/slider01.webp") center / cover
      no-repeat;
  }
  .contenedor-header:nth-child(2) {
    background: url("../images/images-slider/slider02.webp") center / cover
      no-repeat;
  }
  .contenedor-header:nth-child(3) {
    background: url("../images/images-slider/slider03.webp") center / cover
      no-repeat;
  }
  .contenedor-texto {
    max-width: 700px;
    margin-left: 120px;
  }
  .btn-header-next,
  .btn-header-next:after,
  .btn-header-prev:after,
  .btn-header-prev {
    top: calc(50% - 50px);
    font-size: 2rem;
  }
}

//SECCION COMPRAS MUJERES-HOMBRES
.compras {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 40px auto;
}
.hero-compras {
  width: 30%;
  height: 650px;
  display: none;
}
.titulos-secundarios {
  width: 150px;
  @include flexbox(row, center, center);
  margin-top: 50px;
  margin-left: 15px;
  background: white;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-style: italic;
}

.linea-separadora {
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 15px;
  background: rgb(199, 199, 199);
}

.contenido-mujer-hombre {
  position: relative;
  width: 100%;
  @include flexbox(row, space-between, flex-start);
  padding: 0 1%;
}

.ver-mas {
  position: relative;
  width: 100%;
  height: 40px;
  @include flexbox(row, center, center);
}
.ver-mas:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: rgb(221, 221, 221);
}

.boton-ver-mas {
  margin-left: auto;
  margin-right: 85px;
  padding: 0 15px;
  background: white;
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-weight: normal;
  cursor: pointer;
}

//seccion hombre exclusivo
.contenido-hombre {
  flex-direction: row-reverse;
}

.ver-mas-hombre {
  margin-right: auto !important;
  margin-left: 85px;
}

//MEDIA QUERYS SECCION COMPRAS MUJERES-HOMBRES
@media (min-width: 850px) {
  .hero-compras {
    width: 39%;
    height: 735px;
    display: block;
  }
  //seccion hombre exclusivo
  .titulo-hombre {
    margin-left: auto;
    margin-right: 10px;
  }
}

//SWIPER COMPRAS MUJERES-HOMBRES
.contenedor-slider {
  width: 100%;
  height: 750px;
  @include flexbox(row, space-between, center);
  overflow-x: hidden;
  flex-wrap: wrap;
}
.columna-slider {
  height: 100%;
  @include flexbox(column, space-evenly, center);
}
.item-slider-compras {
  position: relative;
  width: 95%;
  max-width: 200px;
  height: 75vw;
  min-height: 270px;
  max-height: 320px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.027);
}
.btn-mujer-hombre-izq,
.btn-mujer-hombre-der {
  top: -55px;
  right: 60px;
  margin-left: auto;
  margin-top: 0;
  color: black;
}
.btn-mujer-hombre-izq:after,
.btn-mujer-hombre-der::after {
  font-size: 1.3rem;
}
.btn-mujer-hombre-der {
  right: 20px;
}

.img-item-compra {
  position: relative;
  width: 100%;
  height: 70%;
  @include flexbox(row, center, center);
  background: #f5f5f5;
  transition: all 0.3s ease-in-out;
}

.img-item-compra:after,
.img-item-compra:before {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.img-item-compra:after {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.199);
}

.img-item-compra:before {
  content: "\f002";
  z-index: 2;
  width: 50px;
  height: 50px;
  @include flexbox(row, center, center);
  margin: auto;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  transition-delay: 0.1s;
  cursor: pointer;
}
.item-slider-compras:hover .img-item-compra:after {
  opacity: 1;
}
.item-slider-compras:hover .img-item-compra:before {
  opacity: 1;
} //NO LOS PUEDO JUNTAR EN 1 SOLA

.botones-item-compra {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 70%;
  @include flexbox(column, space-between, flex-end);
  padding: 20px 10px;
}

.btn-compra {
  width: 35px;
  height: 35px;
  @include flexbox(row, center, center);
  border-radius: 50%;
  color: white;
  transition: 0.5s ease-in-out 0.5s;
  font-size: 1rem;
}
.fav,
.comprar {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
}
.fav {
  border-radius: 0;
  background: none;
  transition: 0.5s ease-in-out 0.5s;
  i {
    height: 100%;
    width: 100%;
    background: white;
    @include flexbox(row, center, center);
    margin-left: auto;
    transition: all 0.3s ease-in-out;
  }
}

.comprar {
  border: 2px solid #ff4e4e;
  font-size: 0.6rem;
}

//ANIMACIONES BOTONES ITEM COMPRA
.popup-btn-compra {
  position: absolute;
  z-index: 50;
  right: 60px;
  height: 25px;
  width: 125px;
  display: none;
  opacity: 0;
  visibility: hidden;
  background-color: black;
  color: white;
  font-family: var(--fuente-secundaria);
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.popup-btn-compra:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 9px;
  width: 10px;
  height: 10px;
  background: black;
  transform: rotate(45deg);
}
@media (min-width: 480px) {
  .popup-btn-compra {
    @include flexbox(row, center, center);
  }
  .fav:hover,
  .comprar:hover {
    .popup-btn-compra {
      visibility: visible;
      opacity: 1;
    }
  }
}
.fav:hover {
  i {
    color: red;
  }
}

.descripcion-productos {
  width: 100%;
  height: 30%;
  @include flexbox(column, center, center);
  padding: 0 5px;
}
.nombre-producto,
.precio-producto {
  width: 100%;
  height: 40%;
  @include flexbox(column, center, flex-start);
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-size: 1.1rem;
  font-weight: 100;
}
.precio-producto {
  font-weight: bolder;
}

//MEDIA QUERYS SWIPER COMPRAS MUJERES-HOMBRES
@media (min-width: 500px) {
  .comprar {
    margin: 0;
  }
}

@media (min-width: 850px) {
  .contenedor-slider {
    width: 59%;
  }
  .btn-hombre-izq,
  .btn-hombre-der {
    right: 0;
    left: 25px;
    margin-left: 0;
    margin-right: auto;
    color: black;
  }
  .btn-hombre-izq:after,
  .btn-hombre-der::after {
    font-size: 1.3rem;
  }
  .btn-hombre-der {
    right: 0;
    left: 65px;
  }
}

//MODAL PRODUCTO
.modal-producto {
  font-family: var(--fuente-principal);
  width: 0; //para manipular con gsap
  height: 100%;
  background: rgba(0, 0, 0, 0.322);
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  opacity: 0; //para manipular con gsap
  @include flexbox(row, center, center);
  overflow: hidden;
  .contenedor-modal-producto {
    position: relative;
    width: 90%;
    max-width: 360px;
    height: 440px;
    margin: 0 auto;
    overflow: scroll;
    background: white;
  }
  .btn-cerrar-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: white;
    @include flexbox(column, center, center);
    .linea-cerrar-modal {
      position: absolute;
      width: 30px;
      height: 1px;
      background: rgb(0, 0, 0);
      transform: rotate(45deg);
    }
    .linea-cerrar-modal:nth-child(2) {
      transform: rotate(-45deg);
    }
  }

  .contenedor-img-modal {
    width: 100%;
    min-height: 320px;
    background: #f5f5f5;
  }
  .descripcion-productos-categorias {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    padding: 0 15px;
  }
  .nombre-producto-categorias,
  .calificacion-producto-categorias,
  .precio-producto-categorias {
    height: 40px;
    font-weight: bolder;
  }
  .nombre-producto-categorias {
    font-size: 1.7rem;
  }
  .calificacion-producto-categorias {
    font-size: 0.9rem;
  }
  .precio-producto-categorias {
    font-size: 1.5rem;
  }
  .color-tamaño {
    height: 110px;
    @include flexbox(column, space-between, flex-start);
    margin-top: 10px;
    font-size: 1.3rem;
  }
  .color,
  .tamaño {
    width: 100%;
    height: 50px;
    @include flexbox(row, flex-start, center);
  }
  .span-ocultable {
    margin-right: 20px;
    font-size: 1.1rem;
    text-transform: capitalize;
  }
  .img-color,
  .letra-tamaño {
    margin-right: 20px;
    border: 1px solid rgb(165, 165, 165);
  }
  .img-color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .letra-tamaño {
    width: 30px;
    height: 30px;
  }
  .compra,
  .contador,
  .btn-contador-resta,
  .btn-contador-suma,
  .contador-numero,
  .btn-carrito,
  .separador,
  .btn-compra-modal {
    @include flexbox(row, center, center);
  }
  .compra {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .contador {
    width: 30%;
    height: 40px;
  }
  .btn-contador-resta,
  .btn-contador-suma {
    width: 30%;
    height: 100%;
    border: 1px solid rgb(173, 173, 173);
    background: white;
  }
  .contador-numero {
    width: 40%;
    height: 100%;
    background: rgb(223, 223, 223);
  }
  .btn-carrito {
    width: 68%;
    height: 40px;
    .btn-principal {
      font-size: 0.65rem;
    }
  }
  .separador {
    width: 100%;
    height: 20px;
    margin: 10px 0;
  }
  .btn-compra-modal {
    width: 100%;
    height: 60px;
    .btn-principal {
      width: 80%;
      background: black;
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  .info-producto {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
  }

  .info {
    width: 100%;
    @include flexbox(row, center, flex-start);
    margin: 10px 0;
  }
  .key,
  .value {
    height: 25px;
    @include flexbox(row, flex-start, center);
    text-transform: capitalize;
    font-size: 0.9rem;
  }
  .key {
    width: 40%;
  }
  .value {
    width: 60%;
  }
  .value-disponibilidad {
    color: rgb(0, 228, 0);
  }
}

@media (min-width: 850px) {
  .modal-producto {
    .contenedor-modal-producto {
      width: 90%;
      max-width: 1000px;
      min-height: 650px;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      overflow: visible;
    }
    .btn-cerrar-modal {
      top: -50px;
    }
    .contenedor-img-modal {
      width: 370px;
      height: 100%;
    }
    .descripcion-productos-categorias {
      width: calc(100% - 385px);
      height: 100%;
      @include flexbox(row, center, center);
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }
    .primer-descripcion {
      width: 65%;
      .nombre-producto-categorias,
      .precio-producto-categorias {
        font-size: 2.4rem;
        padding: 0;
      }
      .calificacion-producto-categorias {
        margin: 5px 0;
      }
    }
    .color-tamaño {
      width: 35%;
      margin-top: 0;
      align-items: center;
      .color,
      .tamaño {
        width: 100%;
        @include flexbox(row, space-evenly, center);
      }
      .img-color,
      .letra-tamaño {
        margin: 0;
      }
    }
    .span-ocultable {
      display: none;
    }
    .btn-carrito {
      .btn-principal {
        width: 80%;
        padding: 12px 0; //para evitar un salto de linea
        font-size: 0.9rem;
      }
    }
    .btn-compra-modal {
      .btn-principal {
        font-size: 1.05rem;
      }
    }
    .info-producto {
      margin-top: 0;
    }
  }
}

@media (min-width: 1024px) {
  .modal-producto {
    .contenedor-img-modal {
      width: 450px;
    }
    .descripcion-productos-categorias {
      width: calc(100% - 465px);
    }
  }
}

//INICIO SECCION BREAK
.break {
  width: 100%;
  max-width: 1700px;
  @include flexbox(row, center, center);
  flex-wrap: wrap;
  margin: 0 auto;
}
.descuentos {
  position: relative;
  height: 30vw; //para que crezca siempre a un tamaño proporcional al ancho de la pantalla
  max-height: 220px;
  min-height: 100px;
  @include flexbox(row, center, center);
  flex-basis: 100%;
  margin: 15px;
  background: rgb(255, 219, 219);
}
.texto-descuento {
  width: 60%;
  height: 70%;
  @include flexbox(column, center, center);
}
.texto-descuento .mini-texto {
  width: 100%;
  height: 50%;
  @include flexbox(row, flex-start, center);
  padding: 0 0 5px 10px;
  letter-spacing: 0px;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  text-transform: capitalize;
} //heredar las propiedades del mini texto del header y cambiarle las necesarias para adaptarla al texto descuento

.titulos-descuentos {
  width: 100%;
  height: 50%;
  @include flexbox(row, flex-start, flex-start);
  padding-left: 10px;
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-size: clamp(1.3rem, 6.2vw, 3rem);
}

.imagen-descuento {
  z-index: 1; //PARA SUPERPONER LA IMG AL BORDE BLANCO DEL DESCUENTO NRO 2
  width: 25%;
  height: 90%;
}

.descuentos:nth-child(1) {
  background: rgb(245, 245, 245);
  .mini-texto {
    padding: 0 0 0 12px;
    align-items: flex-start;
    letter-spacing: 0px;
    font-size: clamp(0.8rem, 2.3vw, 1.5rem);
    //para que la tipografia tambien crezca siempre a un tamaño proporcional al ancho de la pantalla
  }
  .titulos-descuentos {
    padding-left: 10px;
    align-items: flex-end;
  }
  //para reemplazar las propiedades de mini texto y titulos descuentos que ya aplicaban para los dos div descuentos
}
.descuentos:nth-child(2):after {
  content: "";
  position: absolute;
  width: 90%;
  height: 70%;
  border: 1px solid rgb(255, 255, 255);
}

//INICIO MEDIA QUERYS SECCION BREAK
@media (min-width: 950px) {
  .descuentos {
    flex-basis: 45%;
    height: 18vw;
  }
  .titulos-descuentos {
    font-size: clamp(1.3rem, 4vw, 3rem);
  }
  .texto-descuento .mini-texto {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    height: 40%;
  }
  .descuentos:nth-child(1) {
    .mini-texto,
    .titulos-descuentos {
      padding-left: 0;
    }
    .mini-texto {
      font-size: clamp(0.8rem, 1.7vw, 1.5rem);
    }
  }
}

//INICIO SECCION CATEGORIAS
.contenedor-categorias {
  max-width: 1800px;
  margin: 0 auto 50px;
  .titulos-secundarios {
    width: 180px;
    justify-content: flex-start;
    margin-left: 10px;
    font-size: 1.1rem;
    letter-spacing: 0;
  }
  .columna-slider {
    width: 100%;
  }
  .item-slider {
    width: 95%;
    max-width: 500px;
    height: 40vw;
    max-height: 200px;
    @include flexbox(row, center, center);
    margin: 15px auto 0 10px;
    padding: 0;
    box-shadow: none;
  }
  .swiper-button-next,
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-button-prev {
    top: 35px;
    right: 35px;
    margin-top: 0;
    margin-left: auto;
    color: black;
    font-size: 1.1rem;
  }
  .swiper-button-prev {
    right: 70px;
  }
} //PARA REEMPLAZAR ALGUNAS PROPIEDADES DEL SWIPER ANTERIOR Y ADAPTARLO AL NUEVO

.mas-vendidos,
.mejores-reseñas,
.nuevos-productos {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.img-productos-categorias {
  width: 30%;
  height: 100%;
  background: #f5f5f5;
}
.descripcion-productos-categorias {
  width: 66%;
  height: 100%;
  margin-left: auto;
  padding-top: 0px;
}

.nombre-producto-categorias,
.calificacion-producto-categorias,
.precio-producto-categorias {
  width: 100%;
  height: 28%;
  @include flexbox(row, flex-start, center);
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-weight: 100;
  font-size: clamp(1rem, 5vw, 1.2rem);
}
.calificacion-producto-categorias {
  color: var(--color-principal);
  font-size: 0.8rem;
  text-transform: capitalize;
}
.nuevos {
  color: rgb(0, 224, 75);
}
.precio-producto-categorias {
  font-size: clamp(1rem, 5vw, 1.3rem);
}

//INICIO MEDIA QUERYS SECCION CATEGORIAS
@media (min-width: 850px) {
  .contenedor-categorias {
    display: flex;
    .item-slider {
      height: 12vw;
      margin-bottom: 30px;
    }
  }
  .nuevos-productos,
  .mejores-reseñas,
  .mas-vendidos {
    width: 33.33333333%;
  }
}

//INICIO SECCION FOOTER
.footer-principal {
  padding-top: 30px;
  background: rgb(241, 241, 241);
  .titulos-secundarios {
    width: 100%;
    height: 40px;
    margin: 0;
    background: none;
    justify-content: flex-start;
    font-size: 1.3rem;
  }
}
.logo-redes,
.img-logo {
  @include flexbox(column, center, center);
}
.logo-redes {
  margin-bottom: 30px;
}

.logo-footer {
  width: 300px;
  height: 80px;
  @include flexbox(row, flex-start, center);
  margin-right: auto;
}
.img-logo {
  width: 180px;
  height: 60px;
}
.redes {
  width: 100%;
  height: 80px;
  @include flexbox(row, flex-start, center);
  i {
    width: 32px;
    height: 32px;
    @include flexbox(row, center, center);
    margin: 10px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 50%;
    color: var(--color-texto-secundario);
  }
  i:nth-child(1) {
    margin-left: 0;
  }
}

.newsletter {
  width: 100%;
  max-width: 500px;
  height: 100px;
  @include flexbox(row, flex-start, flex-start);
  flex-wrap: wrap;
  margin-bottom: 30px;
  .titulos-secundarios {
    margin-bottom: -20px;
  } //para acercar mas el titulo a la seccion correspondiente

  .correo-newsletter {
    width: 58%;
    height: 35px;
    margin-right: 5px;
    border: 1px solid rgb(209, 209, 209);
  }
  .btn-principal {
    width: 40%;
    height: 35px;
    padding: 4px 8px;
    font-size: 0.7rem;
    font-weight: bolder;
  }
}
.contacto {
  margin-bottom: 30px;
  .titulos-secundarios {
    margin-bottom: -20px;
  }
  ul {
    width: 100%;
    height: 200px;
    @include flexbox(column, space-evenly, left);
    list-style: none;
  }
  li {
    width: 100%;
    font-family: var(--fuente-principal);
    font-size: 0.9rem;
  }
}

.horarios {
  width: 100%;
  max-width: 500px;
  margin-bottom: 90px;
  ul {
    width: 100%;
    height: 100px;
    list-style: none;
  }
  li {
    width: 100%;
    height: 40px;
    @include flexbox(row, space-between, left);
  }
  li:nth-child(2) {
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 1px solid rgb(226, 226, 226);
  }
  span {
    @include flexbox(row, center, center);
    text-transform: capitalize;
    font-family: var(--fuente-principal);
  }
}
.copy {
  width: 100%;
  color: white;
  background: rgb(0, 0, 0);
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  font-size: 0.9rem;
  .contenedor {
    height: 50px;
    @include flexbox(row, center, center);
  }
}

//MEDIA QUERYS FOOTER

@media (min-width: 850px) {
  .footer-principal {
    .contenedor {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .logo-redes {
      width: 50%;
      flex-direction: row;
      .logo-footer {
        width: 250px;
        margin-right: 70px;
      }
    }
    .newsletter {
      width: 50%;
    }
    .contacto {
      width: 50%;
    }
    .horarios {
      width: 50%;
    }
  }
}

.bg-black-desplazable {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.404);
  opacity: 0;
}

//CONTENEDOR DE LOS 4 DESPLEGABLES
.desplazable-cart-search-fav-user {
  position: fixed;
  top: 0;
  right: -100%; //para aniamr con gsap
  z-index: 900;
  width: 88%;
  max-width: 500px;
  height: 100%;
  opacity: 0; //para aniamr con gsap

  background: rgb(255, 255, 255);
  .btn-cerrar-desplazable {
    width: 50px;
    height: 50px;
    background: white;
    z-index: inherit;
    border: 1px solid rgb(223, 223, 223);
    position: absolute;
    left: -20px;
    top: 10px;
    border-radius: 50%;
    font-size: 1.5rem;
    @include flexbox(row, center, center);
    cursor: pointer;
  }
}

//INICIO DESPLEGABLE CARRITO
.desplazable-cart {
  position: relative;
  width: 0;
  height: 100%;
  display: none;
  opacity: 0;
  overflow: scroll; //AÑADIDO EN LOS HIJOS DEL DESPLAZABLE PARA NO AFECTAR EL BOTON CERRAR
}

.barra-superior,
.titulo-carrito,
.btn-cerrar {
  @include flexbox(row, center, center);
}
.barra-superior {
  position: relative;
  width: 100%;
  height: 60px;
  @include flexbox(row, center, center);
  border-bottom: 1px solid rgb(228, 228, 228);

  .titulo-carrito,
  .titulo-favoritos {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
.contenido-cart,
.contenido-fav {
  width: 100%;
  margin-top: 30px;
  .ejemplo-item {
    width: 100%;
    height: 120px;
    @include flexbox(row, center, center);
    padding: 0 10px;
    margin: 15px 0;
  }
  .img-item {
    width: 50px;
    height: 50px;
    background: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
  }
  .descripcion-item {
    width: 55%;
    height: 100%;
    padding-left: 10px;
    @include flexbox(row, flex-start, center);
    flex-wrap: wrap;
  }
  .nombre-producto-categorias {
    font-weight: bolder;
    text-transform: capitalize;
  }
  .color-item,
  .tamaño-item {
    width: 22px;
    height: 22px;
    display: block;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 50%;
  }
  .color-item {
    background: black;
  }
  .tamaño-item {
    margin: 0 10px;
    border-radius: 0;
    @include flexbox(row, center, center);
    padding: 0;
    font-size: 0.85rem;
  }
  .editar-item {
    width: 25%;
    height: 100%;
    @include flexbox(column, space-evenly, center);
  }
  .contador {
    width: 100%;
    height: 35px;
    @include flexbox(row, center, center);
  }
  .btn-contador-resta,
  .btn-contador-suma {
    width: 33%;
    max-width: 40px;
    height: 100%;
    border: 1px solid rgb(173, 173, 173);
    background: white;
  }
  .contador-numero {
    width: 33%;
    height: 100%;
    background: rgb(223, 223, 223);
    @include flexbox(row, center, center);
    background: rgb(245, 245, 245);
  }
  .remover {
    width: 100%;
    height: 20px;
    @include flexbox(row, center, center);
    font-family: var(--fuente-principal);
    text-decoration: underline;
    color: red;
    text-transform: capitalize;
    cursor: pointer;
  }

  //seccion-terminar-compra
  .terminar-compra {
    width: 100%;
  }
  .cuenta-final {
    width: 100%;
    height: 50px;
    @include flexbox(row, space-between, center);
    padding: 0 10px;
  }
  .subtotal {
    @include flexbox(row, center, center);
    height: 100%;
    width: 50%;
    font-family: var(--fuente-principal);
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bolder;
  }
  .subtotal-valor {
    @include flexbox(row, center, center);
    height: 100%;
    width: 30%;
    font-family: var(--fuente-principal);
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--color-principal);
    background: rgb(247, 247, 247);
  }
  .botones-compra {
    padding: 0 10px;
    margin: 10px 0;
    width: 100%;
    @include flexbox(column, center, center);
  }

  .btn-principal {
    width: 100%;
    margin: 20px 0;
    max-width: 350px;
  }
  .btn-principal:nth-child(1) {
    background: black;
  }
  .btn-principal:nth-child(2) {
    font-weight: bolder;
    font-size: 0.9rem;
  }
}

//INICIO DESPLAZABLE USER
.desplazable-user {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  overflow: scroll; //AÑADIDO EN LOS HIJOS DEL DESPLAZABLE PARA NO AFECTAR EL BOTON CERRAR
  .btn-principal {
    width: 100%;
    align-self: center;
    margin: 20px 0;
    font-size: 0.9rem;
    max-width: 350px;
  }
}
.barra-superior {
  width: 100%;
  height: 60px;
  @include flexbox(row, center, center);
  border-bottom: 1px solid rgb(214, 214, 214);
}
.titulo-logueo {
  font-family: var(--fuente-principal);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.contenido-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  border-bottom: 1px solid rgb(221, 221, 221);
  max-width: 400px;
  margin: 0 auto;
}
.label-login {
  width: 100%;
  height: 25px;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  span {
    color: rgb(255, 0, 0);
  }
}
.input {
  width: 100%;
  height: 35px;
  @include flexbox(row, center, center);
  margin: 5px 0 15px;
  max-width: 400px;
}
.icono-login {
  display: block;
  width: 35px;
  height: 100%;
  @include flexbox(row, center, center);
  color: var(--color-texto-secundario);
  border: 1px solid rgb(230, 230, 230);
}
.input-user {
  width: calc(100% - 35px);
  height: 35px;
  border: none;
  background: rgb(241, 241, 241);
  padding: 0 10px;
  font-size: 1.1rem;
}

.recuperar-contraseña,
.crear-cuenta {
  width: 100%;
  height: 55px;
  font-family: var(--fuente-principal);
  font-size: 1.1rem;
  text-transform: capitalize;
  text-align: center;
}
.recuperar,
.crear {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}
.contenido-registro {
  width: 100%;
  padding: 25px 10px;
  @include flexbox(column, center, center);
}
.icono-signup {
  width: 45px;
  height: 45px;
  @include flexbox(row, center, center);
  margin-bottom: 10px;
  font-size: 2.2rem;
  color: var(--color-texto-secundario);
}

//DESPLAZABLE SEARCH

.desplazable-search {
  width: 0;
  height: 100%;
  padding: 80px 10px 0;
  opacity: 0;
  display: none;
}
.contenido-search {
  width: 100%;
  height: 50px;
  @include flexbox(row, center, center);
  max-width: 450px;
  margin: 0 auto;
}
.input-search {
  width: calc(100% - 55px);
  height: 100%;
  border: none;
  border-bottom: 2px solid black;
  padding: 0 10px;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-family: var(--fuente-secundaria);
}
.icono-search {
  display: block;
  width: 55px;
  height: 100%;
  @include flexbox(row, center, center);
  font-size: 1.3rem;
}

//DESPLAZABLE FAV
.desplazable-fav {
  width: 0;
  height: 100%;
  padding: 0 20px;
  border-radius: 10px;
  @include flexbox(column, flex-start, flex-start);
  opacity: 0;
  display: none;
  .btn-principal {
    width: 80%;
    background: none;
    color: var(--color-principal);
    border: 2px solid var(--color-principal);
    font-weight: bolder;
    margin-left: 30px;
  }
}
.img-item {
  min-width: 50px;
  height: 50px;
}
.descripcion-item {
  width: 50%;
}
.color-item {
  background: yellow;
  margin-bottom: 15px;
}
.color-2 {
  background: rgb(0, 0, 0);
}
.editar-item {
  width: 30%;
  height: 100%;
}
.contenedor-color-tamaño {
  width: 100%;
  height: 50%;
  @include flexbox(column, space-evenly, center);
}

@media (min-width: 1024px) {
  .desplazable-cart,
  .desplazable-user {
    overflow: hidden;
  }
}
