@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*estrella vacia <i class="far fa-star"></i>
  estrella a la mitad llena <i class="fas fa-star-half"></i> */
/*
   Layout: (position, float, index)
   Display/box-model: (width, display, margin, padding)
   Visual: (color, background, shadow)
   Tipografia: (font-family, font-size, text-align)
   Otros: (transition, cursor)
*/
body {
  position: relative;
  overflow-x: hidden;
}

.menu-oculto {
  position: relative;
  display: none;
  z-index: 99;
}

.oculto {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
}

:root {
  --fuente-principal: "Nunito Sans", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --color-principal: #ff4e4e;
  --color-texto-principal: #333333;
  --color-texto-secundario: #666666;
}

.btn-principal {
  padding: 12px 17px;
  border: none;
  background-color: var(--color-principal);
  color: white;
  font-family: var(--fuente-secundaria);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(0.75rem, 1.2vw, 1.4rem);
}

.nav-principal {
  width: 100%;
  height: 100px;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
}

.nav-principal .superior {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principal .idioma,
.nav-principal .login,
.nav-principal .logo,
.nav-principal .contenedor-link,
.nav-principal .links,
.nav-principal .menu-hamburguesa,
.nav-principal .buscar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principal .idioma {
  width: 80px;
  margin: 0 15px;
}

.nav-principal .login {
  width: 200px;
  font-family: var(--fuente-principal);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-principal .nav-inferior {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principal .logo {
  width: 160px;
}

.nav-principal .menu-oculto {
  position: relative;
  width: calc(100% - 245px);
  max-width: 650px;
  height: 100%;
  margin: auto;
  background: white;
}

.nav-principal .contenedor-link {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.nav-principal .links {
  position: relative;
  padding-top: 20px;
}

.nav-principal .links a {
  position: relative;
  color: var(--color-texto-principal);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-principal .menu-hamburguesa {
  width: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 10px;
}

.nav-principal .punto-menu {
  display: block;
  height: 6px;
  -ms-flex-preferred-size: 6px;
      flex-basis: 6px;
  margin: 1px;
  border: 1px solid black;
  border-radius: 50%;
}

.nav-principal .buscar {
  width: 50px;
  font-size: 1.3rem;
}

.nav-principal .favorito,
.nav-principal .cart {
  display: none;
  width: 50px;
  height: 100%;
  font-size: 1.3rem;
}

@media (min-width: 450px) {
  .nav-principal .buscar,
  .nav-principal .favorito,
  .nav-principal .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-principal .logo {
    margin: 0 auto;
  }
}

@media (min-width: 850px) {
  .nav-principal .logo {
    margin: 0;
  }
  .nav-principal .menu-hamburguesa {
    display: none;
  }
  .nav-principal .menu-oculto {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.dropdown {
  position: absolute;
  top: 60px;
  left: -10px;
  width: 100px;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: white;
}

.dropdown ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-mujer {
  position: relative;
  overflow: visible;
}

.dropdown-item {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown-item:hover {
  background: var(--color-principal);
  color: white;
}

.dropdown-nuevo {
  left: -20px;
}

.dropdown-descuento {
  left: 10px;
}

.menu-desplegable {
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 99999;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  margin: 0;
  background: white;
}

.menu-desplegable .barra-superior,
.menu-desplegable .btn-cerrar,
.menu-desplegable .menu-global,
.menu-desplegable .menu-categorias,
.menu-desplegable .contenido-categorias-menu-desplegable,
.menu-desplegable .categoria-menu-desplegable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .barra-superior {
  width: 100%;
  height: 120px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-desplegable .btn-cerrar-contenedor {
  width: 100%;
  height: 40px;
}

.menu-desplegable .btn-cerrar {
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.menu-desplegable .linea-cerrar {
  position: absolute;
  width: 25px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--color-principal);
}

.menu-desplegable .linea-cerrar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-desplegable .menu-global,
.menu-desplegable .menu-categorias {
  width: 45%;
  height: 40px;
  background: var(--color-principal);
  color: black;
}

.menu-desplegable .contenido-categorias-menu-desplegable {
  width: 100%;
  height: calc(100% - 120px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 40px;
}

.menu-desplegable .categoria-menu-desplegable {
  width: 75%;
  height: 65px;
  margin: 15px auto;
  background: black;
}

.menu-desplegable .nombre-categoria {
  color: white;
  font-size: 1.1rem;
  font-family: var(--fuente-principal);
  font-style: italic;
  font-weight: bolder;
}

@media (min-width: 850px) {
  .menu-desplegable {
    display: none;
  }
}

.contenedor-header {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-texto {
  width: 80%;
  max-width: 450px;
  height: 80%;
  margin-left: 5%;
  padding-top: 15px;
}

.mini-texto {
  padding: 15px 0;
  color: var(--color-texto-secundario);
  font-family: var(--fuente-principal);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: clamp(0.8rem, 1.8vw, 1.6rem);
}

.titulos-principales {
  margin-bottom: 15px;
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-weight: 900;
  text-transform: capitalize;
  font-size: clamp(2.6rem, 5vw, 6rem);
}

.swiper-container {
  width: 100%;
  height: 400px;
  min-height: 45vw;
}

.contenedor-header:nth-child(1) {
  background: url("../images/images-slider/slider02.jpg") center/cover no-repeat;
}

.contenedor-header:nth-child(2) {
  background: url("../images/images-slider/slider03.jpg") center/cover no-repeat;
}

.contenedor-header:nth-child(3) {
  background: url("../images/images-slider/h2-new-slider3.jpg") center/cover no-repeat;
}

.btn-header-next,
.btn-header-next:after,
.btn-header-prev:after,
.btn-header-prev {
  top: 0;
  margin-top: 0;
  color: black;
  font-size: 1.5rem;
}

.swiper-pagination-bullet {
  background: black;
}

.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .contenedor-texto {
    max-width: 700px;
    margin-left: 120px;
  }
  .btn-header-next,
  .btn-header-next:after,
  .btn-header-prev:after,
  .btn-header-prev {
    top: calc(50% - 50px);
    font-size: 2rem;
  }
}

.compras {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 100px auto;
}

.hero-movil {
  width: 100%;
  max-width: 450px;
  height: 450px;
  margin: 0 auto;
}

.hero-compras {
  width: 30%;
  height: 650px;
  display: none;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
}

.titulos-secundarios {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-left: 15px;
  background: white;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-style: italic;
}

.linea-separadora {
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 15px;
  background: #c7c7c7;
}

.contenido-mujer-hombre {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
  padding: 0 1%;
}

.ver-mas {
  position: relative;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.ver-mas:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1px;
  background: #dddddd;
}

.boton-ver-mas {
  margin-left: auto;
  margin-right: 85px;
  padding: 0 15px;
  background: white;
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-weight: normal;
}

.contenido-hombre {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ver-mas-hombre {
  margin-right: auto !important;
  margin-left: 85px;
}

@media (min-width: 850px) {
  .hero-compras {
    width: 39%;
    height: 735px;
    display: block;
  }
  .titulo-hombre {
    margin-left: auto;
    margin-right: 10px;
  }
}

.contenedor-slider {
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columna-slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-slider-compras {
  position: relative;
  width: 95%;
  max-width: 200px;
  height: 75vw;
  min-height: 270px;
  max-height: 320px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.027);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.027);
}

.btn-mujer-hombre-izq,
.btn-mujer-hombre-der {
  top: -90px;
  right: 60px;
  margin-left: auto;
  margin-top: 0;
  color: black;
}

.btn-mujer-hombre-izq:after,
.btn-mujer-hombre-der::after {
  font-size: 1.3rem;
}

.btn-mujer-hombre-der {
  right: 20px;
}

.img-item-compra {
  position: relative;
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-item-compra:after,
.img-item-compra:before {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-item-compra:after {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.199);
}

.img-item-compra:before {
  content: "\f002";
  z-index: 2;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  background: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  cursor: pointer;
}

.item-slider-compras:hover .img-item-compra:after {
  opacity: 1;
}

.item-slider-compras:hover .img-item-compra:before {
  opacity: 1;
}

.botones-item-compra {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px;
  overflow: hidden;
}

.btn-compra {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
}

.fav,
.comprar {
  background: white;
  color: black;
}

.fav {
  position: relative;
  overflow: hidden;
  border-radius: 0;
}

.ver-detalle {
  background: black;
}

.comprar {
  border: 2px solid #ff4e4e;
  font-size: 0.6rem;
}

.fav:after {
  content: "añadir";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0 15px;
  background: white;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
}

.fav:hover .fav:after {
  width: 120px;
}

.descripcion-productos {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.nombre-producto,
.precio-producto {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-size: 1.1rem;
  font-weight: 100;
}

.precio-producto {
  font-weight: bolder;
}

@media (min-width: 500px) {
  .ver-detalle,
  .comprar {
    margin: 0;
  }
}

@media (min-width: 850px) {
  .contenedor-slider {
    width: 59%;
  }
  .hero-movil {
    display: none;
  }
  .btn-hombre-izq,
  .btn-hombre-der {
    right: 0;
    left: 25px;
    margin-left: 0;
    margin-right: auto;
    color: black;
  }
  .btn-hombre-izq:after,
  .btn-hombre-der::after {
    font-size: 1.3rem;
  }
  .btn-hombre-der {
    right: 0;
    left: 65px;
  }
}

.modal-producto {
  font-family: var(--fuente-principal);
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.322);
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.modal-producto .contenedor-modal-producto {
  position: relative;
  width: 90%;
  max-width: 360px;
  height: 440px;
  margin: 0 auto;
  overflow: scroll;
  background: white;
}

.modal-producto .btn-cerrar-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-producto .btn-cerrar-modal .linea-cerrar-modal {
  position: absolute;
  width: 30px;
  height: 1px;
  background: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-producto .btn-cerrar-modal .linea-cerrar-modal:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-producto .contenedor-img-modal {
  width: 100%;
  min-height: 320px;
  background: #f5f5f5;
}

.modal-producto .descripcion-productos-categorias {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  padding: 0 15px;
}

.modal-producto .nombre-producto-categorias,
.modal-producto .calificacion-producto-categorias,
.modal-producto .precio-producto-categorias {
  height: 40px;
  font-weight: bolder;
}

.modal-producto .nombre-producto-categorias {
  font-size: 1.7rem;
}

.modal-producto .calificacion-producto-categorias {
  font-size: 0.9rem;
}

.modal-producto .precio-producto-categorias {
  font-size: 1.5rem;
}

.modal-producto .color-tamaño {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px;
  font-size: 1.3rem;
}

.modal-producto .color,
.modal-producto .tamaño {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-producto .span-ocultable {
  margin-right: 20px;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.modal-producto .img-color,
.modal-producto .letra-tamaño {
  margin-right: 20px;
  border: 1px solid #a5a5a5;
}

.modal-producto .img-color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.modal-producto .letra-tamaño {
  width: 30px;
  height: 30px;
}

.modal-producto .compra,
.modal-producto .contador,
.modal-producto .btn-contador-resta,
.modal-producto .btn-contador-suma,
.modal-producto .contador-numero,
.modal-producto .btn-carrito,
.modal-producto .separador,
.modal-producto .btn-compra-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-producto .compra {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.modal-producto .contador {
  width: 30%;
  height: 40px;
}

.modal-producto .btn-contador-resta,
.modal-producto .btn-contador-suma {
  width: 30%;
  height: 100%;
  border: 1px solid #adadad;
  background: white;
}

.modal-producto .contador-numero {
  width: 40%;
  height: 100%;
  background: #dfdfdf;
}

.modal-producto .btn-carrito {
  width: 68%;
  height: 40px;
}

.modal-producto .btn-carrito .btn-principal {
  font-size: 0.65rem;
}

.modal-producto .separador {
  width: 100%;
  height: 20px;
  margin: 10px 0;
}

.modal-producto .btn-compra-modal {
  width: 100%;
  height: 60px;
}

.modal-producto .btn-compra-modal .btn-principal {
  width: 80%;
  background: black;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.modal-producto .info-producto {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
}

.modal-producto .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px 0;
}

.modal-producto .key {
  width: 40%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.modal-producto .value {
  width: 60%;
  min-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.modal-producto .value-disponibilidad {
  color: #00e400;
}

@media (min-width: 850px) {
  .modal-producto .contenedor-modal-producto {
    width: 90%;
    max-width: 1000px;
    min-height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
    overflow: visible;
  }
  .modal-producto .btn-cerrar-modal {
    top: -50px;
  }
  .modal-producto .contenedor-img-modal {
    width: 370px;
    height: 100%;
  }
  .modal-producto .descripcion-productos-categorias {
    width: calc(100% - 385px);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .modal-producto .primer-descripcion {
    width: 65%;
  }
  .modal-producto .primer-descripcion .nombre-producto-categorias,
  .modal-producto .primer-descripcion .precio-producto-categorias {
    font-size: 2.4rem;
    padding: 0;
  }
  .modal-producto .primer-descripcion .calificacion-producto-categorias {
    margin: 5px 0;
  }
  .modal-producto .color-tamaño {
    width: 35%;
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-producto .color-tamaño .color,
  .modal-producto .color-tamaño .tamaño {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-producto .color-tamaño .img-color,
  .modal-producto .color-tamaño .letra-tamaño {
    margin: 0;
  }
  .modal-producto .span-ocultable {
    display: none;
  }
  .modal-producto .btn-carrito .btn-principal {
    width: 80%;
    padding: 12px 0;
    font-size: 0.9rem;
  }
  .modal-producto .btn-compra-modal .btn-principal {
    font-size: 1.05rem;
  }
  .modal-producto .info-producto {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .modal-producto .contenedor-img-modal {
    width: 450px;
  }
  .modal-producto .descripcion-productos-categorias {
    width: calc(100% - 465px);
  }
}

.break {
  width: 100%;
  max-width: 1700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.descuentos {
  position: relative;
  height: 30vw;
  max-height: 220px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 15px;
  background: #ffdbdb;
}

.texto-descuento {
  width: 60%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto-descuento .mini-texto {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 5px 10px;
  letter-spacing: 0px;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  text-transform: capitalize;
}

.titulos-descuentos {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 10px;
  color: var(--color-texto-principal);
  font-family: var(--fuente-principal);
  font-size: clamp(1.3rem, 6.2vw, 3rem);
}

.imagen-descuento {
  z-index: 1;
  width: 25%;
  height: 90%;
}

.descuentos:nth-child(1) {
  background: whitesmoke;
}

.descuentos:nth-child(1) .mini-texto {
  padding: 0 0 0 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  letter-spacing: 0px;
  font-size: clamp(0.8rem, 2.3vw, 1.5rem);
}

.descuentos:nth-child(1) .titulos-descuentos {
  padding-left: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.descuentos:nth-child(2):after {
  content: "";
  position: absolute;
  width: 90%;
  height: 70%;
  border: 1px solid white;
}

@media (min-width: 950px) {
  .descuentos {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 18vw;
  }
  .titulos-descuentos {
    font-size: clamp(1.3rem, 4vw, 3rem);
  }
  .texto-descuento .mini-texto {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    height: 40%;
  }
  .descuentos:nth-child(1) .mini-texto,
  .descuentos:nth-child(1) .titulos-descuentos {
    padding-left: 0;
  }
  .descuentos:nth-child(1) .mini-texto {
    font-size: clamp(0.8rem, 1.7vw, 1.5rem);
  }
}

.contenedor-categorias {
  max-width: 1800px;
  margin: 0 auto 50px;
}

.contenedor-categorias .titulos-secundarios {
  width: 180px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 10px;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.contenedor-categorias .columna-slider {
  width: 100%;
}

.contenedor-categorias .item-slider {
  width: 95%;
  max-width: 500px;
  height: 40vw;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto 0 10px;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contenedor-categorias .swiper-button-next,
.contenedor-categorias .swiper-button-next:after,
.contenedor-categorias .swiper-button-prev:after,
.contenedor-categorias .swiper-button-prev {
  top: 35px;
  right: 35px;
  margin-top: 0;
  margin-left: auto;
  color: black;
  font-size: 1.1rem;
}

.contenedor-categorias .swiper-button-prev {
  right: 70px;
}

.mas-vendidos,
.mejores-reseñas,
.nuevos-productos {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.img-productos-categorias {
  width: 30%;
  height: 100%;
  background: #dbdbdb;
}

.descripcion-productos-categorias {
  width: 66%;
  height: 100%;
  margin-left: auto;
  padding-top: 0px;
}

.nombre-producto-categorias,
.calificacion-producto-categorias,
.precio-producto-categorias {
  width: 100%;
  height: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fuente-principal);
  font-weight: 100;
  font-size: 1.1rem;
}

.calificacion-producto-categorias {
  color: #ff9c00;
  font-size: 0.8rem;
}

.precio-producto-categorias {
  font-size: 1rem;
}

@media (min-width: 850px) {
  .contenedor-categorias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedor-categorias .item-slider {
    height: 12vw;
    margin-bottom: 30px;
  }
  .nuevos-productos,
  .mejores-reseñas,
  .mas-vendidos {
    width: 33.33333333%;
  }
}

.footer-principal {
  padding-top: 30px;
  background: #f1f1f1;
}

.footer-principal .titulos-secundarios {
  width: 100%;
  height: 40px;
  margin: 0;
  background: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.3rem;
}

.logo-redes,
.img-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-redes {
  margin-bottom: 30px;
}

.logo-footer {
  width: 300px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.img-logo {
  width: 180px;
  height: 60px;
}

.redes {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes i {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  color: var(--color-texto-secundario);
}

.redes i:nth-child(1) {
  margin-left: 0;
}

.newsletter {
  width: 100%;
  max-width: 500px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.newsletter .titulos-secundarios {
  margin-bottom: -20px;
}

.newsletter .correo-newsletter {
  width: 58%;
  height: 35px;
  margin-right: 5px;
  border: 1px solid #d1d1d1;
}

.newsletter .btn-principal {
  width: 40%;
  height: 35px;
  padding: 4px 8px;
  font-size: 0.7rem;
  font-weight: bolder;
}

.contacto {
  margin-bottom: 30px;
}

.contacto .titulos-secundarios {
  margin-bottom: -20px;
}

.contacto ul {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  list-style: none;
}

.contacto li {
  width: 100%;
  font-family: var(--fuente-principal);
  font-size: 0.9rem;
}

.horarios {
  width: 100%;
  max-width: 500px;
  margin-bottom: 90px;
}

.horarios ul {
  width: 100%;
  height: 100px;
  list-style: none;
}

.horarios li {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.horarios li:nth-child(2) {
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}

.horarios span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-family: var(--fuente-principal);
}

.copy {
  width: 100%;
  color: white;
  background: black;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  font-size: 0.9rem;
}

.copy .contenedor {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 850px) {
  .footer-principal .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .footer-principal .logo-redes {
    width: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-principal .logo-redes .logo-footer {
    width: 250px;
    margin-right: 70px;
  }
  .footer-principal .newsletter {
    width: 50%;
  }
  .footer-principal .contacto {
    width: 50%;
  }
  .footer-principal .horarios {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */