@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body {
  overflow-x: hidden;
}

.menu-oculto {
  display: none;
}

.oculto {
  display: none;
}

img {
  width: 100%;
  height: 100%;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

:root {
  --fuente-principal: "Nunito Sans", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --color-principal: #ff4e4e;
  --color-texto-principal: #333333;
  --color-texto-secundario: #666666;
}

.btn-principal {
  padding: 12px 17px;
  font-family: var(--fuente-secundaria);
  background-color: var(--color-principal);
  border: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-principal {
  width: 100%;
  height: 100px;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
}

.superior {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.idioma {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.login {
  font-family: var(--fuente-principal);
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-inferior {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 120px;
  height: 100%;
  background: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.menu-oculto {
  width: calc(100% - 245px);
  height: 100%;
  margin: auto;
  max-width: 650px;
}

.contenedor-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  color: var(--color-texto-principal);
}

.links {
  position: relative;
  overflow: hidden;
}

a:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background: black;
  left: -100%;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.current:after {
  left: 0;
}

.links:hover a:after {
  left: 0px;
}

.menu-hamburguesa {
  width: 50px;
  height: 100%;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.punto-menu {
  -ms-flex-preferred-size: 6px;
      flex-basis: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1px;
  display: block;
}

.buscar,
.favorito,
.cart {
  width: 50px;
  height: 100%;
  font-size: 1.3rem;
  display: none;
}

@media (min-width: 450px) {
  .buscar,
  .favorito,
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 850px) {
  .logo {
    margin-right: 0;
  }
  .menu-hamburguesa {
    display: none;
  }
  .menu-oculto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contenedor-header {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-texto {
  width: 80%;
  height: 80%;
  margin-left: 5%;
  max-width: 450px;
}

.mini-texto {
  font-family: var(--fuente-principal);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--color-texto-secundario);
  padding: 15px 0;
  font-size: 0.9rem;
}

.titulos-principales {
  font-family: var(--fuente-principal);
  font-weight: 900;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--color-texto-principal);
  margin-bottom: 15px;
}

.swiper-container {
  width: 100%;
  height: 400px;
  min-height: 35vw;
}

.contenedor-header:nth-child(1) {
  background: url("../images/images-slider/slider02.jpg");
  background-position: center;
  background-size: cover;
}

.contenedor-header:nth-child(2) {
  background: url("../images/images-slider/slider03.jpg");
  background-position: center;
  background-size: cover;
}

.contenedor-header:nth-child(3) {
  background: url("../images/images-slider/h2-new-slider3.jpg");
  background-position: center;
  background-size: cover;
}

.btn-header-next,
.btn-header-next:after,
.btn-header-prev:after,
.btn-header-prev {
  color: black;
  font-size: 1.5rem;
  top: 0;
  margin-top: 0;
}

.swiper-pagination-bullet {
  background: black;
}

.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .contenedor-texto {
    margin-left: 120px;
  }
  .btn-header-next,
  .btn-header-next:after,
  .btn-header-prev:after,
  .btn-header-prev {
    top: calc(50% - 50px);
    font-size: 2rem;
  }
}

.compras {
  width: 100%;
  margin: 100px 0;
  position: relative;
}

.hero-movil {
  width: 100%;
  height: 450px;
  background: red;
  max-width: 350px;
  margin: 0 auto;
}

.titulos-secundarios {
  width: 150px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  margin-left: 15px;
  margin-top: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-style: italic;
}

.linea-separadora {
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 15px;
  background: #c7c7c7;
}

.contenido-mujer-hombre {
  width: 95%;
  margin: 50px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.contenido-hombre {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hero-compras {
  width: 40%;
  height: 650px;
  display: none;
  background: url("../images/NuevaC/side-view-photography-of-a-woman-wearing-fedora-1070058-removebg-preview.jpg");
  background: white;
  background-position: center;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.281);
  background-size: cover;
  background-repeat: no-repeat;
}

.ver-mas {
  width: 100%;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.ver-mas:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #dddddd;
  position: absolute;
  z-index: -1;
}

.boton-ver-mas {
  margin-left: auto;
  margin-right: 85px;
  font-family: var(--fuente-principal);
  background: white;
  padding: 0 15px;
  color: var(--color-texto-principal);
  font-weight: normal;
}

.ver-mas-hombre {
  margin-right: auto !important;
  margin-left: 85px;
}

@media (min-width: 850px) {
  .hero-compras {
    display: block;
    width: 45%;
  }
  .titulo-hombre {
    margin-left: auto;
    margin-right: 10px;
  }
}

.contenedor-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 650px;
  overflow-x: hidden;
}

.columna-slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-slider {
  width: 95%;
  max-width: 200px;
  height: 65vw;
  max-height: 250px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.164);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.164);
  margin: 25px 0;
}

.btn-mujer-hombre-izq,
.btn-mujer-hombre-der {
  right: 60px;
  margin-left: auto;
  margin-top: 0;
  color: black;
  top: -90px;
}

.btn-mujer-hombre-izq:after,
.btn-mujer-hombre-der::after {
  font-size: 1.3rem;
}

.btn-mujer-hombre-der {
  right: 20px;
}

@media (min-width: 850px) {
  .contenedor-slider {
    width: 51%;
  }
  .hero-movil {
    display: none;
  }
  .btn-hombre-izq,
  .btn-hombre-der {
    right: 0;
    left: 25px;
    color: black;
    margin-left: 0;
    margin-right: auto;
  }
  .btn-hombre-izq:after,
  .btn-hombre-der::after {
    font-size: 1.3rem;
  }
  .btn-hombre-der {
    right: 0;
    left: 65px;
  }
}

.break {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
}

.descuentos {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 30vw;
  max-height: 220px;
  min-height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffdbdb;
  margin: 15px;
}

.texto-descuento {
  width: 60%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto-descuento .mini-texto {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0px;
  padding: 0 0 5px 10px;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  text-transform: capitalize;
}

.titulos-descuentos {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--fuente-principal);
  padding-left: 10px;
  font-size: clamp(1.3rem, 6.2vw, 3rem);
  color: var(--color-texto-principal);
}

.imagen-descuento {
  width: 25%;
  background: red;
  height: 90%;
}

.descuentos:nth-child(2):after {
  content: "";
  width: 90%;
  height: 70%;
  border: 1px solid white;
  position: absolute;
}

.descuentos:nth-child(1) {
  background: whitesmoke;
}

.descuentos:nth-child(1) .mini-texto {
  letter-spacing: 0px;
  padding: 0 0 0 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: clamp(0.8rem, 2.3vw, 1.5rem);
}

.descuentos:nth-child(1) .titulos-descuentos {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 10px;
}

@media (min-width: 950px) {
  .descuentos {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    height: 18vw;
  }
  .titulos-descuentos {
    font-size: clamp(1.3rem, 4vw, 3rem);
  }
  .texto-descuento .mini-texto {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    height: 40%;
  }
  .descuentos:nth-child(1) .mini-texto,
  .descuentos:nth-child(1) .titulos-descuentos {
    padding-left: 0;
  }
  .descuentos:nth-child(1) .mini-texto {
    font-size: clamp(0.8rem, 1.7vw, 1.5rem);
  }
}

.contenedor-categorias .titulos-secundarios {
  font-size: 1.1rem;
  width: 180px;
  letter-spacing: 0;
  margin-left: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contenedor-categorias .columna-slider {
  width: 100%;
}

.contenedor-categorias .item-slider {
  width: 95%;
  height: 40vw;
  max-height: 200px;
  margin: 15px auto 0 10px;
  padding: 0;
  max-width: 500px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-categorias .swiper-button-next,
.contenedor-categorias .swiper-button-next:after,
.contenedor-categorias .swiper-button-prev:after,
.contenedor-categorias .swiper-button-prev {
  color: black;
  font-size: 1.1rem;
  top: 35px;
  margin-top: 0;
  right: 35px;
  margin-left: auto;
}

.contenedor-categorias .swiper-button-prev {
  right: 70px;
}

.mas-vendidos,
.mejores-reseñas,
.nuevos-productos {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-productos-categorias {
  width: 30%;
  height: 100%;
  background: #dbdbdb;
}

.descripcion-productos-categorias {
  width: 66%;
  margin-left: auto;
  height: 100%;
  padding-top: 0px;
}

.nombre-producto-categorias {
  width: 100%;
  height: 28%;
  font-family: var(--fuente-principal);
  font-weight: 100;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calificacion-producto-categorias {
  width: 100%;
  height: 28%;
  color: #ff9c00;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.precio-producto-categorias {
  width: 100%;
  height: 28%;
  font-family: var(--fuente-principal);
  font-weight: 100;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 850px) {
  .contenedor-categorias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedor-categorias .item-slider {
    height: 12vw;
    margin-bottom: 30px;
  }
  .nuevos-productos,
  .mejores-reseñas,
  .mas-vendidos {
    width: 33.33333333%;
  }
}
/*# sourceMappingURL=styles.css.map */